<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pl_son">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PostActivity"></activity>
        <activity android:name=".SeeHomeworkActivity" />
        <activity android:name=".HomeworkDetailsActivity" />
        <activity android:name=".AddUpdateHomeworkActivity" />
        <activity android:name=".AddUpdateTeacherAnnounceActivity" />
        <activity android:name=".CourseInfoTeacherActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".ReadMessageActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".Announce_Homework_SubmitActivity" />
        <activity android:name=".CourseStudentActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>